name: linter

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    golangci:
        name: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-go@v4
              with:
                  go-version: '1.20'
            - name: Run linter
              uses: golangci/golangci-lint-action@v3
              run: go get github.com/golangci/golangci-lint/cmd/golangci-lint golangci-lint run
