name: golangci-lint
on:
    push:
        branches:
            - master
            - main
    pull_request:
        - main

permissions:
    contents: read
    # Optional: allow read access to pull request. Use with `only-new-issues` option.
    # pull-requests: read

jobs:
    golangci:
        name: lint
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-go@v4
              with:
                  go-version: '1.20'
                  check-latest: true
            - name: golangci-lint
              uses: golangci/golangci-lint-action@v3.6.0
              with:
                  version: v1.51.2


