name: autotests

on:
    pull_request:
    push:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-go@v4
              with:
                  go-version: '1.20'
                  check-latest: true
            - name: Start Postgres
              run: docker-compose up -d
            - name: Wait for Postgres to start
              run: docker-compose exec postgres sh -c 'while ! pg_isready; do sleep 1; done;'
            - name: Run tests integration
              run: go test -v ./server/...
            - name: Start server
              run: go run ./server main.go
            - name: Run tests e2e
              run: go test -v ./client/..




