name: autotests

on:
    pull_request:
    push:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        services:
          postgres:
            image: postgres:latest
            env:
              POSTGRES_USER: qwerty
              POSTGRES_PASSWORD: qwerty
              POSTGRES_DB: postgres
            ports:
              - 5438:5432
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5


        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-go@v4
              with:
                  go-version: '1.20'
                  check-latest: true
            - name: Install Docker
              run: |
                sudo apt-get update
                sudo apt-get install -y docker.io
            - name: Start Postgres
              run: docker-compose up -d postgres
            - name: Wait for Postgres to start
              run: docker-compose exec postgres sh -c 'while ! pg_isready; do sleep 1; done;'
            - name: Run tests integration
              run: go test -v ./server/...
            - name: Start server
              run: go run ./server main.go
            - name: Run tests e2e
              run: go test -v ./client/..




