name: tests

on:
    push:
        branches:
            - main
    pull_request:
        - main

jobs:
    test:
        runs-on: macos-latest
        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_USER: qwerty
                    POSTGRES_PASSWORD: qwerty
                    POSTGRES_DB: postgres
                ports:
                    - 5438:5432
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-go@v4
              with:
                  go-version: '1.20'
                  check-latest: true
            - name: Run tests integration
              run: go test -v ./server/...
            - name: Start server
              run: go run ./server main.go
            - name: Run tests e2e
              run: go test -v ./client/..
